html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		body
					nav.navbar.navbar-expand-lg.navbar-light.bg-light
						a.navbar-brand(href='#') Navbar
						#navbarNav.collapse.navbar-collapse
									ul.navbar-nav
										li.nav-item.active
											a.nav-link(href='/') Home 
										li.nav-item
											a.nav-link(href='/users') Users
					.container
						block content